:root{
    font-size: 10px;
    --text-black : black;
    --text-white : white;
    --bg-caption : rgba(173, 216, 230, 0.52);
    --bg-atom: cyan;
    --bg-game: blue;
    --bg-plane: purple;
    --bg-swim: green;
    --bg-walk: lightgreen;
}
img{
    width: 100%;
    vertical-align: middle;
}
body{
    font-family: "Ubuntu", serif;
    header{
        margin: 0.5rem;
        box-shadow: 1px 1px rgba(135, 206, 250, 0.38);
        border-radius: 10px 5px;
        padding: 0.5rem;
        .nav{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            a{
                margin-right: auto;
                img{
                    width: 40px;
                    border-radius: 50%;
                }
            }
            .open{
                display: none;
                font-size: 1.5rem;
                position: absolute;
                background-color: rgba(100, 149, 237, 0.51);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                ul{
                    position: inherit;
                    list-style: none;
                    background-color: cyan;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 30%;
                    padding: 2rem;
                    li {
                        padding: 0.5rem;
                        a{
                            text-decoration: none;
                            color: var(--text-black);
                            padding: 0.5rem;
                        }
                    }
                }
                #close{
                    stroke: var(--text-black);
                    position: inherit;
                    top: 10px;
                    left: 10px;
                    cursor: pointer;

                }
            }
            #theme-switch{
                margin-left: 1rem;
            }
            #burger{
                stroke: var(--text-black) ;
            }
            #theme-switch,
            #burger{
                cursor: pointer;
            }
        }
    }
    main{
        h2{
            font-size: 2rem;
            text-align: center;
            margin-block: 2rem;
        }
        #hero{
            h1{
                font-size: 3rem;
                text-transform: uppercase;
                text-align: center;
                margin-block: 1rem;
                font-weight: 900;
            }
            .slide{
                position: relative;
                border-radius: 10px 20px 10px 20px;
                overflow: hidden;
                margin-block: 1.5rem;
                .elements{
                    .element{
                        display: none;
                        position: relative;
                        &.active{
                            display: block;
                        }
                        figcaption{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: var(--bg-caption);
                            text-align: center;
                            font-size: 1.5rem;
                            padding: 0.5rem;
                            border-radius: 10px;
                            color: var(--text-black);
                        }
                    }
                }
                #left,
                #right{
                    fill: var(--text-white);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
                #left{
                    left: 0;
                }
                #right{
                    right: 0;
                }
            }
        }
        #activity{

            #atom{
                background-color: var(--bg-atom);
            }
            #game{
                background-color: var(--bg-game);
            }
            #plane{
                background-color: var(--bg-plane);
            }
            #swim{
                background-color: var(--bg-swim);
            }
            #walk{
                background-color: var(--bg-walk);
            }
            #swim2{
                background-color: grey;
            }
        }
        #partenaire{
            width: 80%;
            margin: auto;
            article figure img {
                width: 20%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        #equip{
            article figure img {
                width: 30%;
                border-radius: 50%;
            }
        }
        #contact{
            form{
                .image{
                    text-align: center;
                    img{
                        width: 20%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    footer{
        #footer-main{
            font-size: 1.5rem;
            background-color: lightslategray;
        }
        #footer-foot{
            background-color: rgba(0, 0, 0, 0.67);
            color: var(--text-white);
            padding-block: 1rem;
        }
    }
}